.locationmaincontainer{
    width: 100%;
    height: 45vh;
    background-color: #E9E9E9;
    display: flex;
   
}


@include mobile {
    .locationmaincontainer{
        height: auto;
        display: block;
    }  
}

@include tablet{
    .locationmaincontainer{
        height: auto;
        
    } 
}